# JupyterLite `xeus-sqlite` (demo)

* Krzysztof Molenda

---

`Xeus-sqlite` to jądro Jupyter oparte na bibliotece Xeus, które pozwala wykonywać zapytania SQL dla bazy SQLite bezpośrednio w notatniku jako “język” kernela zamiast Pythona. W JupyterLite działa całkowicie po stronie przeglądarki jako WebAssembly (WASM), co umożliwia interaktywną pracę z SQLite bez serwera i instalacji po stronie użytkownika.

Wykorzystywany głównie w nauczaniu SQL i podstaw baz danych z wykorzystaniem SQLite w przeglądarce, bez instalacji lokalnej i bez dostępu do serwera, idealne dla kursów i dokumentacji interaktywnej.

---

Kernel `xsqlite` zapewnia funkcjonalność _magicznych instrukcji_ do operacji na bazach danych z poziomu wiersza poleceń i natywne wykonywanie kodu SQL na podłączonej bazie danych.

```{note} Wyjaśnienie - magiczne instrukcje
**Cell magic** to specjalne polecenie IPython, które poprzedza się podwójnym procentem (`%%`) na pierwszej linii i które zmienia sposób wykonania całej komórki w notatniku Jupyter/JupyterLab/JupyterLite. Działa na cały blok komórki, w przeciwieństwie do **line magic** z pojedynczym `%`, które dotyczy tylko jednej linii.
```

## Tworzenie bazy danych

Aby utworzyć pustą bazę danych SQLite, wykonaj polecenie _line magic_:

In [ ]:
%CREATE example_db.db

## Tworzenie tabel i ich zapełnianie

Tabele tworzy się i wypełnia za pomocą standardowych poleceń języka SQL:

In [ ]:
CREATE TABLE players (Name STRING, Class STRING, Level INTEGER, Hitpoints INTEGER)

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Martin Splitskull", "Warrior", 3, 40)

In [ ]:
SELECT COUNT(*) as rowcount FROM players

Z poziomu pojedynczej komórki kodu można wykonać tylko jedno polecenie:

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sir Wolf", "Cleric", 2, 20);

-- Poniższe elementy nie zostaną wstawione, jest to drugie polecenie w komórce
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sylvain, The Grey", "Wizard", 1, 10);

In [ ]:
SELECT Name, Level, Hitpoints FROM players;

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sylvain, The Grey", "Wizard", 1, 10);

In [ ]:
SELECT Name, Level, Hitpoints FROM players;

## Zapytania do bazy

Obsługiwany jest pełen zakres poleceń zapytań SQL, łącznie z operacjami agregacji:

In [ ]:
SELECT SUM (Level) FROM players

Grupowanie działa również:

In [ ]:
SELECT Level, SUM(Hitpoints) AS `Total Hitpoints`
FROM players
GROUP BY Level
ORDER BY `Total Hitpoints` DESC;

## Administrowanie bazą danych

Zdefiniowano kilka magicznych linii wspomagających administrację bazą danych

In [ ]:
%TABLE_EXISTS players

In [ ]:
%TABLE_EXISTS npcs

In [ ]:
%GET_INFO

## Łączenie się z inną bazą danych

Utworzenie nowej bazy danych spowoduje połączenie jądra z nową instancją bazy danych (i odłączenie od poprzedniej).

Tworzymy nową bazę danych (`potato.db`) i wypełniamy ją tabelą, a tabelę danymi:

In [ ]:
%CREATE potato.db

In [ ]:
CREATE TABLE potaters(production INTEGER)

In [ ]:
INSERT INTO potaters (production) VALUES (7)

In [ ]:
SELECT * FROM potaters

Dostęp do poprzedniej bazy danych został utracony:

In [ ]:
SELECT Name, Level, Hitpoints FROM players;

```{warning} WAŻNE
W danym momencie tylko jedna baza danych jest aktywna!
```

Możemy połączyć jądro z poprzednią bazą danych _magiczną dyrektywą_ `%LOAD`:

In [ ]:
%LOAD example_db.db

In [ ]:
SELECT Name, Level, Hitpoints FROM players;